*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header{
    padding: 30px 30px 0px 30px;
    display: flex;
    gap: 100px;
}

nav{
    text-align: center;
    margin-top: 20px;
    position: relative;
}

nav a{
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    margin: 20px;
    padding:10px;
    border:1px solid white;
    border-radius: 25px;
}

.glass{
    display: flex;
    justify-content: space-evenly;
    width: 65%;
    height: 60px;
    align-content: center;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    backdrop-filter: blur(10px); 
    border: 1px solid rgba(255, 255, 255, 0.2);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.background-container {
    width: 100%;
    height: 100vh;
    background: url('bg_img.jpg') no-repeat center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-clip: content-box;
    background-size: cover;
    /* position: relative; */
}

#search-bar{
    display:flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #333;
    border-radius: 50px;
    background: linear-gradient(90deg, #d9d6cd, #f4f4ff);
    padding: 2px 5px;
    width: 400px;
    margin: 100px 150px 100px 150px;
    position: absolute;
}

.search-icon {
    font-size: 20px;
    margin-right: 10px;
}

.search-input {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 50px;
    background-color: transparent;
    color: #4b4b4b;
}

.search-input::placeholder {
    color: #aaa;
}

.search-button {
    background-color: rgba(165, 157, 132,1);
    color: #ECEBDE;
    border: solid #D7D3BF 3px;
    border-radius: 50px;
    padding: 8px 20px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.05s ease;
}

.search-button:hover {
    background-color: grey;
}

.main-container{
    display: flex;
    justify-content: center;
    height: 100%; 
}
.introduction {
    width: 55%; 
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px); 
    border: 1px solid rgba(255, 255, 255, 0.2); 
    color: #fff; 
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#catchy{
    padding: 15px;
    margin:50px;
    height:30%;
}